.text-animation {
    position: fixed;
    top: 40%;
    left: 65%;
    max-width: 400px;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(100%);
    transition: transform 1s ease;
}

.text-animation.visible {
    transform: translateY(0);
}
