* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Обеспечивает, что padding и border включены в общую ширину и высоту элементов */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#graph-container {
    height: 100vh;
    width: 100vw;
}

.background {
    height: 100vh;
    width: 100vw;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
